body{
  padding: 0;
  margin: 0;
  background: linear-gradient(142deg, rgba(33,32,79,1) 0%, rgba(65,61,108,1) 17%, rgba(182,117,160,1) 42%, rgba(240,133,112,1) 71%, rgba(255,171,75,1) 100%);
}
.hero{
  width: 100%;
  height: 100vh;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  position: relative;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
.navbar .navbar-container{
  width: 80%;
  margin: 20px auto;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.nav-logo{
  padding: 5px 10px;
}
.nav-logo h3{
  color: #fff;
  font-size: 24px;
  margin: 0;
  letter-spacing: 4px;
}
.nav-menu{
  padding: 5px 10px;
}
.nav-menu .nav-menu_wrap{
  display: flex;
  list-style: none;
}
.nav-menu .nav-menu_wrap .nav-items{
  padding: 0 20px;
}
.nav-menu .nav-menu_wrap .nav-items a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.contentBx{
  padding: 0 50px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('./bg_1.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 100px);
  background-size: 400px;

}
.contentBx .content{
  padding:0 100px;
  width: 700px;
}
.contentBx .content h2{
  font-size: 80px;
  color: #fff;
}
.contentBx .content p{
  color: #000;
  font-size: 24px;
}
.worker{
  position: absolute;
  bottom: 0px;
  right: 40px;
  width: 150px;
  height: 150px;
  background: #FFD390;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(43.9% at 50% 68%);
}
.worker h3{
  color: #000;
  letter-spacing: 2px;
  font-size: 24px;
  margin-top: 70px;
}